@{
    ViewData["Title"] = "Home Page";
    var text = ViewData["text"] as string;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>This is from package: @text </p>
</div>
