<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--To inherit the global NuGet package sources remove the <clear/> line below -->
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="github" value="https://nuget.pkg.github.com/MohammadJS2642/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<config>
			<add key="http_proxy" value="https://mohammadjs2642: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@nuget.pkg.github.com/MohammadJS2642/index.json" />
		</config>
		<github>
			<add key="username" value="mohammadjs2642"/>
			<add key="password" value="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"/>
		</github>
	</packageSourceCredentials>
	<packageRestore>
		<add key="enabled" value="true" />
		<add key="automatic" value="true" />
	</packageRestore>
</configuration>
