<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--To inherit the global NuGet package sources remove the <clear/> line below -->
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<!--<add key="github" value="https://nuget.pkg.github.com/MohammadJS2642/index.json" />-->
	</packageSources>
	<!--<config>
		<add key="http_proxy" value="https://nuget.pkg.github.com/MohammadJS2642/index.json" />
		<add key="http_proxy.user" value="MohammadJS2642" />
		<add key="http_proxy.password" value="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" />
	</config>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="MohammadJS2642" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>-->
</configuration>
